/* トップページ全体の幅を最大390pxに制限 */
.community-home-root {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

/* メインビジュアル */
.community-home-main-visual {
    margin: 0 auto;
    padding-bottom: 40px;
}

.community-home-key-visual-container {
    position: relative;
    z-index: 0;
}

.community-home-key-visual {
    width: 100%;
    height: auto;
    display: block;
}

.community-home-site-message-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 40px 0px;
    margin-top: auto;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.community-home-site-message {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.community-home-key-visual-logo {
    width: 230px;
}

/* ボタン */
.community-home-key-visual-button {
    background-color: #000;
    color: #fff;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}

.community-home-section-message {
    margin-top: 24px;
    color: #797979;
    font-size: 14px;
    text-align: center;
}

/* セクションのタイトルや要素配置 */
.community-home-communication {
    margin: 0 auto;
    padding: 24px 16px 40px;
}


.community-home-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #1C1B1B;
    margin-bottom: 16px;
}

.community-home-section-title svg {
    width: 28px;
    height: 24px;
}

.community-home-section-title span {
    text-align: center;
}

.community-home-highlighted-title {
    font-weight: 900;
    background: linear-gradient(transparent 60%, #D1FF19 30%);
    display: inline-block;
}

.community-home-tyatora-message {
    position: relative;
    margin-top: 24px;
}

.community-home-tyatora-message p {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* 猫のイラスト・写真の共通スタイル */
.community-home-tyatora,
.community-home-shironeko,
.community-home-black-cat {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.community-home-shirohuwaneko {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -16px;
}

.community-home-experts-content {
    margin: 0 auto;
    padding: 24px 16px 40px;
    background: rgba(209, 255, 25, .1);
}

/* リンクグループ（メディアを探す / ユーザーを探す 等） */
.community-home-link-group {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
}

.community-home-link-group a {
    border-radius: 8px;
    background: #1C1B1B;; /* 例: 薄い黄色 */
    color: #fff;
    text-decoration: none;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 1.5rem;
}

.community-home-premium {
    margin: 0 auto;
    padding: 24px 16px 40px;
    background: #F8F6F2;
}
/* プレミアムセクション */
.community-home-premium-label {
    font-size: 18px;
    font-weight: bold;
    color: #F00; /* 例: 赤文字 */
    text-align: center;
}

.community-home-premium-link-group {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.community-home-premium-link {
    padding: 8px 24px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}

/* ギャラリー */
.community-home-gallery {
    margin: 0 auto;
    padding: 24px 16px 40px;
}

.community-home-gallery-link-group {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.community-home-gallery-link {
    padding: 8px 24px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}
